body {
   background-color: grey;
   background-image:url(../image/flat.jpg);
}
img{
height: 400px;
width: 1300px;
}
a:link{

  color: blue;
  background-color: cyan;
    padding: 30px 50px;

}
p{
font-style: oblique;
font-family: fantasy;
font-size:40px;


}
